.DropdownItem {
  display: inline-block;
  max-width: 50%;
  padding: 0px;
}

.DropdownItem :hover {
  font-size: 10px;
  color: rgba(246, 119, 9, 0.9);
}

.Absolute {
  position: absolute;
  right: 0;
  z-index: 99;
  padding-top: 10px;
}

.Absolute :hover {
  font-size: 35px;
  color: rgba(246, 119, 9, 0.9);
}
