.Post {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
    padding: 2%;
    padding-left: 0.5%;
    padding-right: 1.5%;
    margin:1%;
  }
  
  .Post figure,
  h5 {
    margin: 0 0;
  }
  
  .Heart {
    color: #f85032;
  }
  
  .Heart:hover {
    color:rgba(246, 119, 9, 0.9)
  }
  
  .HeartOutline:hover {
    color: rgba(246, 119, 9, 0.9)
  }

  .Profile{
  text-align: left;
  border: none;
  display: inline-block;
  width:100%;
  }

  .Update{
    display: inline;
    padding-top:10px;
    float:right;
  }

  .PostDropdownItem{
    position: fixed;
    padding-left: 100px;
  }

