.Post {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
    padding: 2%;
    padding-left: 0.5%;
    padding-right: 1.5%;
    margin:1%;
  }
  
  .Post figure,
  h5 {
    margin: 0 0;
  }
  
  .Heart {
    color: #f85032;
  }
  
  .Heart:hover {
    color: #2142b2;
  }
  
  .HeartOutline:hover {
    color: #f85032;
  }

  .Profile{
  text-align: left;
  border: none;
  display: inline;
  float:left;
  }

  .Update{
    text-align:right;
    display: inline-block;
    padding-left: 20px;
  }