.Row {
    height: calc(50vh - 100px);
  }
  .Input {
    background: #ffffff;
    border: 2px solid #ff9254;
    box-sizing: border-box;
    border-radius: 15px;
    color: rgb(7, 114, 141);
    text-align: left;
    padding: 12px;
    margin-bottom: 10px;
    margin-top:5px;
  }
  
  .Header {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: rgb(7, 114, 141);
    margin-top:10px;
  }
  
  .Link {
    text-decoration: none;
    text-align: center;
    display: block;
    margin: auto;
  }
  
  .Link span {
    color: #ff9254;
  }
  
  .Link span:hover {
    color: #ff9254;
    font-weight: bold;
    font-size:17px;
  }

  .Container {
    padding: 10px 10px;
  }
  
  .SignInCol {
    height: 450px;
  }
  
  .SignUpCol {
    height: 275px;
  }

  .SigninButton{
    background-color:  rgb(7, 114, 141);
    color: white;
    padding: 10px 50px;
    width: 100%;
  }

  .SigninButton :hover{
    background-color:  rgba(246, 119, 9, 0.9);
    color: white;
  }