.Row {
    height: calc(50vh - 100px);
  }
  .Input {
    background: #ffffff;
    border: 4px solid #a8accc;
    box-sizing: border-box;
    border-radius: 15px;
    color: #38b51c;
    text-align: left;
    padding: 12px;
    margin-bottom: 10px;
    margin-top:5px;
  }
  
  .Header {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #1c8b0d;
    margin-top:10px;
  }
  
  .Link {
    text-decoration: none;
    text-align: center;
    display: block;
    margin: auto;
  }
  
  .Link span {
    color: #ff9254;
  }
  
  .Link span:hover {
    color: #ff9254;
    font-weight: bold;
    font-size:17px;
  }

  .Container {
    padding: 10px 10px;
  }
  
  .SignInCol {
    height: 450px;
  }
  
  .SignUpCol {
    height: 275px;
  }
