.App {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    min-height: 100vh;
    font-size: 15px;
    color: red;
}

.Main {
    padding-top: 300px;
    color: red;
}

a {
    --bs-link-hover-color:rgba(54, 53, 53, 0.55);
    text-decoration: none;
    --bs-link-color:rgba(54, 53, 53, 0.55);
    padding-left: 10px;
    padding-top: 8px;
    font-size: 15px;
}

